
#li-docente {
    background: #1787a3;
}

/* HEADER ----------------------------------------- */
header {
    width: 100%;
    height: 190px;
    align-items: center;
    justify-content: center;
    background: rgb(40, 177, 6);
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
}

#img-header {
    background: rgb(40, 177, 6);
    border-bottom-left-radius: 42%;
    border-bottom-right-radius: 42%;
}

header img {
    height: 365px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

/* SECTION -----------------------------------------*/
section {
    width: 100%;
    margin-left: 10px;
}

#sectionDocente {
    width: 98%; 
    margin-top: 12%; 
    display: flex;    
}
#caixa-sobreprofessor {
    width: 450px; 
    height: 495px;
    padding: 0.5em 1.9em 0em 0.5em;
    margin-top: 32px;
    background: white;
    border: thin silver solid;
    box-shadow: 4px 4px 11px 0px rgba(51, 55, 50, 0.5);
    text-indent: 2px;
}

#img-text-tituloprofessor {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;    
}

#imgprofessor {
    border: white solid 1px;
    box-shadow: 1px 6px 10px 0px rgba(51, 55, 50, 0.5);
}

#titulo-professor {
    margin-left: 15px;
}

#titulo-professor h2{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

#titlo-professor p {
    margin-top: 20px;
    font-size: 14px;
}

#descricao {
    padding: 0px 5px;
    margin-top: 35px;
    font-size: 14px;
    text-align: justify;
}

#iframe {
    margin-left: 20px;
    width: 635px;
}
#iframe iframe {
    width: 630px;
    height: 500px;
}